name: Test
on:
  push

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: '12.x'
    - name: npm install, build, lint and test
      run: |
        npm install
        npm run build
        npm run lint
        npm test